* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  padding: 2rem 1.25rem;
  background-color: rgb(255, 245, 224);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-form {
  background-color: yellow;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 30rem;
  min-height: 20rem;
  box-shadow: 0 0 0.1rem rgb(235, 228, 212);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;

  overflow: hidden;
}
/* .product-form div h2,
.product-form div h3,
.product-form div p,
.product-form div img,
.product-form div figure,
.product-form div span {
  background-color: red;
} */

.product-form figure {
  background-color: red;
  width: 100%;
  aspect-ratio: 3/2;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.product-form img {
  width: 100%;
}

.product-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 2rem;
}

.product-div h2,
.new-price {
  font-size: 2em;
  font-family: serif;
  font-weight: 900;
}
.product-div h3 {
  font-size: 1.25em;
  letter-spacing: 0.25em;
  font-weight: 500;
}
.product-div p,
.product-div h3 {
  color: grey;
}

.price-div {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  /* background-color: orange; */
}

.new-price {
  font-size: 2em;
  font-weight: bold;
  color: seagreen;
}

.prev-price {
  text-decoration: line-through;
  color: grey;
  align-self: flex-start;
}

.product-div button {
  padding: 1rem 2rem;
  background-color: seagreen;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  color: white;
}

.product-div button:hover {
  background-color: rgb(0, 100, 63);
}

@media (min-width: 40em) {
  body {
    justify-content: center;
  }
  .product-form {
    flex-direction: row;
    max-width: 40rem;
    align-items: stretch;
  }
  .product-form figure,
  .product-div {
    width: 50%;
  }
  .product-form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-div {
    gap: 2rem;
  }
}

.product-div button:focus-visible {
  outline: 3px solid rgba(0, 128, 0, 0.6);
  outline-offset: 3px;
}
